<h2>Encrypt</h2>

<ul class="nav nav-tabs">
  <li><a href="/encrypt/upload?to={{to}}">Upload files</a></li>
  <li class="active"><a href="">Copy/paste</a></li>
  <li><a href="/encrypt/local?to={{to}}">Local file/dir</a></li>
</ul>

<div id="encrypt-text">
  <form method="post" action="">
    <div class="form-group">
      <label for="recipient">Recipient</label>
      <select name="to" class="form-control">
        <option value="{{pubkey.pubkey}}">(Self)</option>
        {{#each recipients}}
        <option value="{{pubkey}}"{{#if selected}} selected{{/if}}>{{name}} &lt;{{email}}&gt;</option>
        {{/each}}
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="sign" value="1"{{#if post.sign}} checked{{/if}}>
        Include signature
      </label>
    </div>

    <div id="actions" class="row">
      <div class="col-lg-9">
        <div class="form-group">
          <label for="input">Enter text:</label>
          <textarea id="input" class="form-control" name="input" rows="8">{{post.input}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Encrypt</button>
        {{#if output}}
        <hr>
        <div class="form-group">
          <label for="input">Output:</label>
          <textarea id="output" class="form-control" name="output" rows="8" readonly onclick="this.select()">{{output}}</textarea>
        </div>
        {{/if}}
      </div>
    </div>
  </form>
</div>