<p class="pull-right">
  <a class="btn btn-primary" href="/encrypt?to={{to}}"><i class="glyphicon glyphicon-lock"></i> Encrypt</a> <a class="btn btn-default" href="/decrypt/upload"><i class="glyphicon glyphicon-eye-open"></i> Decrypt</a><br><a class="btn btn-default" href="/encrypt/text?to={{to}}"><i class="glyphicon glyphicon-copy"></i> Copy/paste</a> <a class="btn btn-primary" href="/encrypt/upload"><i class="glyphicon glyphicon-upload"></i> Upload</a>
</p>

<h2>Encrypt</h2>

<h3>Here you can upload file(s) to encrypt.</h3>

<p>You will receive a download token for each file uploaded.</p>

<hr>

<div id="encrypt-upload">
  <form>
    <div class="form-group">
      <label for="recipient"><i class="glyphicon glyphicon-user"></i> Recipient:</label>
      <select name="to" class="form-control">
        <option value="{{pubkey.pubkey}}">(Self)</option>
        {{#each recipients}}
        <option value="{{pubkey}}"{{#if selected}} selected{{/if}}>{{name}} &lt;{{email}}&gt;</option>
        {{/each}}
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="sign" value="1">
        <i class="glyphicon glyphicon-pencil"></i> Include signature
      </label>
    </div>
  </form>

  <div id="actions" class="row">

    <div class="col-lg-7">
      <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>
      </span>
    </div>

    <div class="col-lg-5">
      <span class="fileupload-process">
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
      </span>
    </div>

  </div>

  <div class="table table-striped files" id="previews">

    <div id="template" class="file-row">
      <div>
          <span class="preview"><img data-dz-thumbnail /></span>
      </div>
      <div>
          <p class="name" data-dz-name></p>
          <strong class="error text-danger" data-dz-errormessage></strong>
      </div>
      <div>
          <p class="size" data-dz-size></p>
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
      </div>
      <div>
        <a class="btn btn-warning download" target="_blank">
            <i class="glyphicon glyphicon-download-alt"></i>
            <span>Download</span>
        </a>
        <button data-dz-remove class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel</span>
        </button>
      </div>
    </div>

  </div>
</div>