<p class="pull-right"><a class="btn btn-primary" href="/import">Import key</a></p>

<h2>Imported Keys</h2>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Pubkey</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  {{#each recipients}}
    <tr>
      <td><input type="text" class="form-control" value="{{type}} {{pubkey}}" onclick="this.select()" readonly></td>
      <td>{{name}}</td>
      <td><a href="mailto:{{email}}">{{email}}</a></td>
      <td><a class="btn btn-default btn-sm" href="/encrypt?to={{pubkey}}">Encrypt...</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>