<p class="pull-right"><a class="btn btn-default" href="/import"><i class="glyphicon glyphicon-plus-sign"></i> Import key</a></p>

<h2><i class="glyphicon glyphicon-globe"></i> Imported Keys</h2>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Pubkey</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  {{#if recipients}}
    {{#each recipients}}
      <tr>
        <td><input type="text" class="form-control" value="{{pubkey}}" onclick="this.select()" readonly></td>
        <td>{{name}}</td>
        <td><a href="mailto:{{email}}">{{email}}</a></td>
        <td><a class="btn btn-default btn-sm" href="/encrypt?to={{pubkey}}"><i class="glyphicon glyphicon-lock"></i> Encrypt...</a></td>
      </tr>
    {{/each}}
  {{else}}
    <tr><td colspan="4">No keys imported.</td></tr>
  {{/if}}
  </tbody>
</table>